<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section 
            name="entityFramework" 
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
            requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="NoDefaultCatalog" connectionString="Server=.\SQLEXPRESS;Integrated Security=SSPI" />
        <add
            name="Entities"
            connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost\SQLEXPRESS;initial catalog=Solodex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>
</configuration>