<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
        <requiredRuntime version="v4.0.20506" />
    </startup>
    <connectionStrings>
        <add name="NoDefaultCatalog" connectionString="Server=.\SQLEXPRESS;Integrated Security=SSPI"/>
        <add
            name="Entities"
            connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost\SQLEXPRESS;initial catalog=Solodex;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>